ENVIRONMENT=development // set to turn log mode

POSTGRES_HOST=localhost // hostname of the PostgreSQL server
POSTGRES_PORT=5433 // port number of the PostgreSQL server
POSTGRES_USER=user // username for the PostgreSQL database
POSTGRES_PASSWORD=password // password for the PostgreSQL database
POSTGRES_DB=postgres // name of the PostgreSQL database

# Database configuration (2/2) - Remember to set sslmode for production
DB_URL=postgres://user:password@localhost:5433/postgres?sslmode=disable

REDIS_HOST=localhost
REDIS_PORT=8082
REDIS_PASSWORD=password